/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
h1,h2,h3,h4{
  margin-bottom: 1rem;  
}
body{
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  color: #333;
}
a{
  color: #333;
  text-decoration: none;
}
ul{
  list-style: none;
}
strong {
  color: #fff200;
  font-weight: 4;
}

/*header+vp*/
.vp-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
padding: 1rem 2rem;
background: #333;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
line-height: 1.8rem;
}
header a {
  color: white;
}
.vp{
flex: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: url(../IMG/frame.jpg) center center;
background-size: cover;
height: 700px;
}
.vp-content{
  max-width: 800px;
  text-align: center;
  color: white;
}
.vp-content h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.vp-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}
.vp-logo{
  margin-bottom: 0;
  font-family: 'Long Cang', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.vp-logo i {
  color: #fff200;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.vp-logo a {
  font-size: 4rem;
  font-weight: 300;
}
header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
header ul li {
padding: 1rem;
}
header ul li a:hover {
  color: #fff200;
}

/*offer*/
.offer{
}
.container{
  display: block;
  max-width: 1200px;
  margin: auto;
}
.offer-list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.offer-elem{
  border: 1px solid #ddd;
  background: white;
  margin: 1rem;
  flex: 1;
}
.tiltle{
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.offer-elem-img {
  width: 100%;
}
.offer-elem-text{
  padding: 2rem;
  text-align: center;
}
.offer-separator{
  margin: 1rem auto;
  height: 3px;
  width: 100px;
  background-color: #333;
}

/*who*/
.who{
  display: flex;
  flex-flow: wrap nowrap;
  padding: 10rem 1rem;
}
.who-content-img img{
  width: 100%;
}
.who-content-img{
  flex: 1;
}
.who-content-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}
.bg-dark{
 background: #333;
 color: white;
}
.who-content-text p{
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.who-content-text h2{
  margin-bottom: 2rem;
}
/*testimonials*/
.testimoniols{
  padding: 5rem 1rem;
}
.testimoniols-content{
  display: flex;
  flex-direction: column;
}
.testimoniols-elem{
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: wrap nowrap;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.testimoniols-elem-text{
  padding: 0 2rem;
}
.testimoniols-elem-profil img{
  width: 50px;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}
.testimoniols-elem-profil p{
  font-weight: 700;
  margin-bottom: 0.5rem;
}